.header-items {
    height: 67px;
    border-bottom: 1px solid #eceef2;
}

.header-logo {
    padding-top: 25px;
    padding-bottom:25px;
}

nav{
    ul{
        margin-left: 20px;
        li {
            font-weight: 600;
            padding: 18px 25px;
            border-left: 1px solid #eceef2;
            cursor: pointer;
        }
        li:last-child {
            border-right: 1px solid #eceef2;
        }
    }
}