// * {
//     margin: 0;
//     padding: 0;
// }
$box-w-h: 150px;
$boxBigger-w-h:300px;
$translateX:400px;
.box {
    width: $box-w-h;
    height: $box-w-h;
    border: 1px solid #000;
    transition: all .5s;
}

.box.bigger {
    width: $boxBigger-w-h;
    height: $boxBigger-w-h;
}

.box.circle {
    border-radius: 50%;
}

.box.move {
    transform: translateX($translateX);
}

.box.colored {
    background-color: #ff0000;
}