@import "./varibales.scss";
.main-content {
    margin-top: 160px;
    // width: 691px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    text-align: center;
    h1 {
        width: 445px;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
        line-height: 57px;
        letter-spacing: 0.2px;
        color: $Color-Ebony-Clay;
    }
    p {
        width: 410px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
        letter-spacing: 0.2px;
        /* second-text-color */
        color: $Color-Dove-Gray;
        padding-top: 10px;
        padding-bottom: 80px;
    }
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 33.5px;
    .card-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 40px;
        border: 1px solid $Color-Mercury;
        background: $Color-Alabaster;
        border: 1px solid $Color-Mercury;
        box-sizing: border-box;
        border-radius: 5px;
        transition: all ease .4s;
        .card-text p {
            font-style: normal;
            font-size: 16px;
            font-weight: bold;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: $Color-Ebony-Clay;
            padding-top: 10.86px;
        }
    }
    .card-item:hover {
        background: $Color-Picton-Blue;
    }
    .card-item:hover .card-icon,
    .card-item:hover .card-text p {
        fill: $Color-White;
        color: $Color-White;
    }
}