.header-items {
  height: 67px;
  border-bottom: 1px solid #eceef2;
}

.header-logo {
  padding-top: 25px;
  padding-bottom: 25px;
}

nav ul {
  margin-left: 20px;
}

nav ul li {
  font-weight: 600;
  padding: 18px 25px;
  border-left: 1px solid #eceef2;
  cursor: pointer;
}

nav ul li:last-child {
  border-right: 1px solid #eceef2;
}

.header-search-form {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.header-search-form .search-input {
  width: 100%;
  height: 100%;
  padding: 0 15px;
}

.header-search-form .search-close {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: none;
  background: transparent;
  line-height: 20px;
  color: #212631;
  font-size: 22px;
  padding: 0;
}

.search-form.active {
  opacity: 1;
  visibility: visible;
}
